<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Member Login</title>
    <link rel="stylesheet" href="/stylesheets/style3.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" >
    <!--<script type = "text/javascript" >
        function preventBack(){window.history.forward();}
         setTimeout("preventBack()", 0);
         window.onunload=function(){null};
     </script>-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        .bg-image{
            background-image: url('/img/poo5.png');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
        }
    </style>
</head>
<!-- <style>
    #background-image{
        border-radius:50%;
    }
</style> -->
<body class="bg-image" style="background-color: #0F172B;">
    <!-- <body style="background-color:#0F172B;color:white; background-image:url('/img/loginimage2.png');background-repeat:no-repeat;background-size:300px;background-position:120cqh;"> -->

     <div class="container-fluid bg-dark px-0">
        <div class="row gx-0">
            <div class="col-lg-3  d-none d-lg-block" style="background-color: #0F172B;">
                
                <a href="/" class="navbar-brand w-100 h-100 m-0 p-0 d-flex align-items-center justify-content-center">
                    <img src="/img/iiita.png" style="height: 60px; width:60px; margin-right: 50px;">
                    <h1 class="m-0  text-uppercase" style="font-family: poppins;color:#3acbc4; text-align: left; margin-left: 50px; font-family: 'poppins';">BDA LAB</h1>
                </a>
            </div>
            <div class="col-lg-9">
              
                <nav class="navbar navbar-expand-lg  navbar-dark p-3 p-lg-0" style="background-color: #0F172B;">
                    <a href="/" class="navbar-brand d-block d-lg-none">
                        <h1 class="m-0 text-primary text-uppercase" style="text-align: left; margin-left: 50px; font-family: 'Poppins';">BDA LAB</h1>
                    </a>
                    <div class="collapse navbar-collapse justify-content-between" id="navbarcollapse">
                        <div class="navbar-nav mr-auto py-0">
                            <a href="/" class="nav-item nav-link active" style="margin-left: 450px;">Home</a>
                            <!-- <a href="#about1" class="nav-item nav-link" style="margin-left:50px;">About Us</a> -->
                            <!-- <a href="#programdetail1" class="nav-item nav-link" style="margin-left: 50px;">Program Details</a> -->
                           
                            
                        </div>
                          
                    </div>
                </nav>

            </div>
        </div>
    </div>
    <br>
    <!--<section style="margin-left:600px; margin-top:200px;">
    <img src="/img/loginimag.jpg" >
    </section>-->
    <section>
        <h2 style="color:white;margin-top:20px;"><b style="font-weight: 700;font-size: 40px; "> User Login </b></h2>
        <br>
        <div style="margin-left:90px;color:white;"><%= error %></div>
        <br>
    <div class="login">
    <form id="login" method="POST" action="/users/login">
        <label><b style="font-weight: 600;font-size: 25px;">Username</b></label>
        <br>
        <input type="text" name="username" id="username" placeholder="username" required>
        <br><br>
        <label><b style="font-weight: 600; font-size: 25px;" >Password</b></label>
        <br>
        <input type="password" name="password" id="password" placeholder="password" required>
        <br><br>
        <button style="border-radius: 4px;background-color: aqua; color:black;border:2px solid white;margin-top: 20px; padding-left: 25px;padding-right: 25px;padding-top: 10px ;padding-bottom: 10px">Login</button>
    </form>
</div>
    </section>
</body>
</html>