<%- include('partials/iheader.ejs') %>
<br>
<h1 style="text-align:center">Researchers</h1>
    <div class="col-sm-12;">
        <div class="w3-card-4" style="width:100%;background-color:#FFFFFF;">
            <img src="/img/rsch1.jpg" style="width:200px;height:250px;margin-left:15px;margin-top:15px;">
                <header class="w3-container w3-grey"><br>
                  <h3 style="margin:0px;">Bakshi Rohit Prasad</h3><p>RS151<br>
                        <b>Mentor:</b> Dr. Sonali Agarwal<br> </p>
                </header>

                <div class="w3-container">  <br>
                <p style="    text-align: justify;text-justify: inter-word;">
                He is a Senior Research Scholar in the Department of Information Technology at Indian Institute of Information Technology Allahabad (IIITA), India. He completed his Bachelor of Technology from Uttar Pradesh Technical University with Honors in Computer Science and Engineering. He received his Master of Technology in Information Technology with specialization in Intelligent Systems from Indian Institute of Information Technology Allahabad in the year 2013. His primary research interests are Data mining, Machine learning, Big Data computing and mining techniques, High speed streaming data processing and analytics along with their applications in several domains. Focus of his research is towards the development of large scale machine learning algorithms. He has authored multiple research articles listed in different refereed journals and conference proceedings of national and international repute.
                    <br><br>
                    </p><h4>Contact Details</h4>
                    <b>Mobile Number :</b> 8115573733 <br>
                    <b>Email ID :</b> rs151@iiita.ac.in <br>
                <p></p>
            </div>
        </div>
    </div>
    <div class="col-sm-12;">
        <div class="w3-card-4" style="width:100%;background-color:#FFFFFF;">
            <img src="/img/rsch2.jpg" style="width:200px;height:250px;margin-left:15px;margin-top:15px;">
                <header class="w3-container w3-grey"><br>
                    <h3 style="margin:0px;">Bagesh kumar</h3><p>PSE2016001<br>
                        <b>Mentor:</b> Dr. Sonali Agarwal<br> </p>
                </header>

                <div class="w3-container">  <br>
                <p style="    text-align: justify;text-justify: inter-word;">
                He is currently pursuing my Integrated M.TECH-PhD from Indian Institute of Information Technology, Allahabad, specializing in the Department of Information Technology (Software Engineering). He is working as a Teaching Assistant in the subject of Software Engineering under the supervision of Dr. Sonali Agarwal. He has completed my Bachelor of Technology degree in Information Technology(2016) from Rustamjhe Institute of Technology (RJIT) (An Institute of Border Security Force, Military Force). My current research focus is in Machine Learning and Big Data domain. He is currently pursuing my M.TECH-PhD thesis under the guidance of Dr. Sonali Agarwal, titled "Smart Feedback using Machine Learning and Natural Language Processing paradigm".
                    <br><br>
                    </p><h4>Contact Details</h4>
                    <b>Mobile Number :</b> 9431645778 <br>
                    <b>Email ID :</b> pse2016001@iiita.ac.in <br>
                <p></p>
            </div>
        </div>
    </div>

    <%- include('partials/ifooter.ejs') %>