<%- include('partials/iheader.ejs') %>
<style>
    h2{
        color:black;
        text-align: left;
        font-weight: bold;
        padding: 5px;
        margin: 2px;
    }
    p{
        margin-left: 5px;
        margin-right: 5px;
    }
</style>
<div class="container">
    <div class="content">
        <div style="padding-top: 15px;" class="card">
            <h1 id="cs-4803--7643-deep-learning"><center>Indian Institute of Information Technology, Allahabad</center></h1>
            <h1 id="cs-4803--7643-deep-learning"><center>Computer Vision and Biometrics Lab (CVBL)</center></h1>
            <h1 id="cs-4803--7643-deep-learning"><center>Visual Recognition</center></h1>
        </div>



<p><a name="offerings"></a></p>
<div class="card">
<h2 id="prerequisites">Offerings</h2>
<ul>
<li><a href="https://cvbl.iiita.ac.in/courses/deep-learning/2023/" target="__blank">Deep Learning, Jan-June 2023</a></li>
<li><a href="https://cvbl.iiita.ac.in/courses/deep-learning/2022/" target="__blank">Deep Learning, July-Dec 2022</a></li>
<li><a href="https://cvbl.iiita.ac.in/courses/deep-learning/2021/" target="__blank">Deep Learning, July-Dec 2021</a></li>
</ul>
</div>


<p><a name="info"></a></p>
<div class="card">
<h2 id="course-information">Course Information</h2>

<p><strong>Objective of the course:</strong> To get the students and researchers exposed to the state-of-the-art deep learning techniques, 
    approaches and how to optimize their results to increase its efficiency and get some hands-on on the same to 
    digest the important concepts.</p>
<p><strong>Outcome of the course:</strong> As deep learning has demonstrated its tremendous ability to solve the learning and 
    recognition problems related to the real world problems, the software industries have accepted it as an effective tool. 
    As a result there is a paradigm shift of learning and recognition process. The students and researchers should acquire 
    knowledge about this important area and must learn how to approach to a problem, whether to deal with deep learning solution or not. 
    After undergoing this course they should be able to categorize which algorithm to use for solving which kind of problem. 
    Students will be able to find out the ways to regularize the solution better and optimize it as per the problem requirement. 
    Students will be exposed to the background mathematics involved in deep learning solutions. 
    They will be able to deal with real time problems and problems being worked upon in industries. 
    Taking this course will substantially improve their acceptability to the machine learning community – both as an intelligent 
    software developer as well as a matured researcher.</p>
</div>
<div class="card">
<h2 id="course-information">Course Instructors</h2>
<div class="row">
<div class="col-md-10">
    <div class="row">
        <div class="col-sm col text-center">
            <a href="https://cvbl.iiita.ac.in/sks/" target="_blank">
                <img class="dp" src="https://cvbl.iiita.ac.in/img/team/sksingh.png" style="height:200px;width:200px;"><br>
                <p>Dr. Satish Kumar Singh</p>
            </a>
        </div>
        <div class="col-sm col text-center">
          <a href="https://profile.iiita.ac.in/srdubey/" target="_blank">
              <img class="dp" src="https://cvbl.iiita.ac.in/img/team/srd.jpg" style="height:200px;width:200px;"><br>
              <p>Dr. Shiv Ram Dubey</p>
          </a>
        </div>
    </div>    
</div>
</div>
</div>


<p><a name="prereqs"></a></p>
<div class="card">
<h2 id="prerequisites">Prerequisites</h2>
<ul>
<li>Computer Programming</li>
<li>Data Structures and Algorithms</li>
<li>Machine Learning</li>
<li>Image and Video Processing</li>
<li>Ability to deal with abstract mathematical concepts</li>
</ul>
</div>
</div>



<p><a name="extra"></a></p>
<div class="card">
<h2 id="note-to-people-outside-georgia-tech">Disclaimer</h2>
<p>The content (text, image, and graphics) used in this slide are adopted from many sources for Academic purposes. 
    Broadly, the sources have been given due credit appropriately. However, there is a chance of missing out some original primary sources. 
    The authors of this material do not claim any copyright of such material. </p>
</div>

    </div>


<%- include('partials/ifooter.ejs') %>