body
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}
a:link,a:visited,a:active,a:hover {
    color: #2fb5ae;;
} 
/*** Navbar ***/
.navbar-dark .navbar-nav .nav-link {
    /* margin-left: 180px; */
    padding: 25px 0;
    color: #FFFFFF;
    font-size: 15px;
    text-transform: uppercase;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    color: #3acbc4;
}

@media (max-width: 991.98px) {
    .navbar-dark .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;

    }
}
/* .login{
        width: 382px;
        overflow: hidden;
        /* margin: auto; */
        /* margin: 10 80px ; */
       /* margin-left:70px;
        padding: 20px;
        text-align: left;*/
        /* background: #23463f; */
        /* border-radius: 15px ; */

/*} */
#login{
    width: 382px;
    overflow: hidden;
    /* margin: auto; */
    /* margin: 10 80px ; */
    margin-left:70px;
    padding: 20px;
    text-align: left;
    /* background: #23463f; */
    /* border-radius: 15px ; */

}
h2{
    text-align: left;
    color: white;
    font-weight: bold;
    padding: 20px;
    margin: 70px;
    
}
label{
    color: #08ffd1;
    font-size: 17px;
}
#login #username{
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    padding-left: 8px;
}
#login #name{
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 20px;
    padding-left: 8px;
}
#login #password{
    width: 300px;
    height: 40px;
    border: none;
    margin-top: 10px;

    border-radius: 20px;
    padding-left: 8px;

}
#login #position{
    width: 300px;
    height: 40px;
    border: none;
    margin-top: 10px;

    border-radius: 20px;
    padding-left: 7px;
    color: blue;


}
#login #subjects{
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    padding-left: 7px;
    /* padding-right: 15px; */
    color: blue;


}

span{
    color: white;
    font-size: 30px;
}
/* a{
    float: left;
    background-color: rgb(48, 244, 198);
} */
